@inherits LayoutComponentBase

<header>
    <h1>Our List</h1>
</header>
<nav>
    <a href="/">Home</a>
    <a href="/counter">Counter</a>
    <a href="/converter">Converter</a>
</nav>

<div>
    <a>@today.ToString("dddd, dd, MMMM yyy")</a>
</div>

@Body

<footer>
    @footerMessage
</footer>

@code {
    DateTime today = DateTime.Today;

    public string footerMessage { get; set; } = "Great Shopping";
}
